#!/bin/bash
app=${CF_APP}-${CF_SPACE}
cf create-service conversation standard conversations-service 
cf unbind-service $app WEX-Service
cf delete-service WEX-Service -f
cf create-service conversation standard conversation-service 
cf create-service speech_to_text standard speech_to_text-service
cf create-service cloudantNoSQLDB Shared cloudant-nosql-db
cf create-service weatherinsights Free-v2 weather-service
cf cups WEX-Service -p '{ "url" : "http://itravel.rr.nu:8383" , "username" : "boeuser" , "password" : "boeuser" }'
chmod -R 775 *
cf push $app